<div class="container"> 
    <h3 class="center"> Bienvenue sur Marmiton !</h3>
    <p  class="flow-text" style="font-size: 18px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor eget erat sed tincidunt. Ut luctus hendrerit mattis. Sed et mi in ipsum interdum faucibus. Morbi lobortis massa ac aliquam mattis. Integer ut semper risus, at consequat magna. Morbi luctus enim in vulputate lobortis. Ut metus ante, malesuada vitae rutrum sit amet, venenatis sit amet velit.
    </p>

    <br><br>

    <div style="border-radius: 25px;" class="card">
        <br>
        <app-recherche [isContained]=true></app-recherche>
    </div>
    <br>
    <div style="border-radius: 25px;" class="card">
        <br>
        <app-list-recettes [amount]=4></app-list-recettes>

        <div class="center">
            <a routerLink="/recettes" routerLinkActive="active" style="margin: 20px;" class="waves-effect waves-light btn blue bold-text hoverable">[+] Plus de Recettes [+]</a>
        </div>
    </div>

    <!-- 
    <div class="row">
        <div style="border-radius: 25px;" class="col s12 m12 l6">
            <app-list-recettes [amount]=3></app-list-recettes>
        </div>

        <div style="border-radius: 25px;" class="col s12 m12 l5 offset-l1">
            <app-liste-ingredients [amount]=5></app-liste-ingredients>
        </div>
    </div>
    -->

</div>