<div class="container"> 
    <h3 class="center"> Bienvenue sur Marmiton !</h3>
    <p  class="flow-text" style="font-size: 18px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor eget erat sed tincidunt. Ut luctus hendrerit mattis. Sed et mi in ipsum interdum faucibus. Morbi lobortis massa ac aliquam mattis. Integer ut semper risus, at consequat magna. Morbi luctus enim in vulputate lobortis. Ut metus ante, malesuada vitae rutrum sit amet, venenatis sit amet velit.
    </p>

    <br><br>

    <div style="border-radius: 25px;" class="green lighten-4">
        <span class="flow-text">barre de recherche</span>
    </div>
    <br>
    <div class="row">
        <div style="border-radius: 25px;" class="col s12 m12 l6 teal lighten-4">
            <app-list-recettes [amount]=3></app-list-recettes>
        </div>

        <div style="border-radius: 25px;" class="col s12 m12 l6 indigo lighten-4">
            <span class="flow-text">Liste des ingredients</span>
        </div>
    </div>


</div>