<div class="container center">
  <div class="col s12 m7">
    <h2 class="header">Connexion</h2>
    <div class="card horizontal">
      <!--  <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>  -->
      <div class="card-stacked">
        
        <div class="card-content">
          <form action="#" method="post">
            <input type="text" class="black-text input" placeholder="Qui etes vous ?" required autofocus/>
            <input type="password" class="black-text input" placeholder="Votre mot de passe." required/>
          </form>
        </div>

        <div class="card-action">
            <a class="blue lighten-1 white-text waves-effect waves-light btn" href="#">Connexion</a>
        </div>
      </div>
    </div>
  </div>
</div>