{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}


<div class="container center">
    <div class="col s12 m7">
      <h2 class="header">Votre profil : {{ user_name }} </h2>
    </div>

        
      <form action="/auth/disconnect" method="post">
        <input type="submit" value="Déconnexion" style="margin-left: 10px; margin-right: 10px;" class="hoverable blue lighten-1 waves-effect waves-light btn">
      </form>

</div>



{% endblock %}
