{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}

<div class="container center">
  <div class="col s12 m7">
    <h2 class="header">Connexion</h2>
    <div class="card horizontal"  style="border-radius: 25px 25px 25px 0px;">
      <div class="card-stacked">
        
      <form action="/auth/connect" method="post">

        <div class="card-content">
            <input name="user" type="text" class="black-text input" placeholder="Votre pseudo ?" required autofocus/>
            <input name="psw" type="password" class="black-text input" placeholder="Votre mot de passe." required/>
        </div>

        <div class="card-action">
          <input type="submit" value="Connexion" style="margin-left: 10px; margin-right: 10px;" class="hoverable blue lighten-1 waves-effect waves-light btn">

          <a href="/auth/register" style="margin-left: 10px; margin-right: 10px;" class="hoverable blue lighten-1 black-text waves-effect waves-light btn">S'inscrire</a>
        </div>
      
      </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
