<script src="../assets/JS/script.js"></script>


<!-- Navbar pour autres ecrans -->
<nav class="hide-on-large-only">
  <div class="nav-wrapper blue lighten-1">
    <a id="logoTrigger" href="" class="brand-logo center"> {{ title }} </a>
  </div>
</nav>
<nav class="hide-on-large-only " > <!-- hide -->
  <div class="nav-wrapper blue lighten-1">
    <ul class="center container">
      <li class="active"><a href="#">Recettes</a></li>
      <li><a href="#">Ingrédients</a></li>
    </ul>
  </div>
</nav>


  <!-- Navbar pour grand écran -->
<nav class="hide-on-med-and-down container">
  <div class="nav-wrapper blue lighten-1">
    <a href="/" class="brand-logo left" style="padding-left: 75px;"> {{ title }} </a>
    <ul class="right">
      <li class="active"><a href="#">Recettes</a></li>
      <li><a href="#">Ingrédients</a></li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>
