<!-- Navbar pour autres ecrans -->
<nav class="hide-on-large-only">
  <div class="nav-wrapper blue lighten-1">
    <a id="logoTrigger" class="brand-logo center unclickableLink" (click)="showHideMenu()">
      <i class="material-icons tiny">toc</i>  {{ title }} </a>
  </div>
</nav>
<nav id="hideAbleMenu" class="hide-on-large-only hide" > <!-- hide -->
  <div class="nav-wrapper blue lighten-1">
    <ul class="center container">
      <li class="blue"><a href="#">Recettes</a></li>
      <li class="blue"><a href="#">Ingrédients</a></li>
      <li class="blue"><a href="#">Connexion</a></li>
    </ul>
  </div>
</nav>


  <!-- Navbar pour grand écran -->
<nav class="hide-on-med-and-down">
  <div class="nav-wrapper blue lighten-1">
    <a class="brand-logo left unclickableLink" style="padding-left: 75px;"> {{ title }} </a>
    <ul class="right">
      <li class="blue"><a href="#">Recettes</a></li>
      <li class="blue"><a href="#">Ingrédients</a></li>
      <li class="blue"><a href="#">Connexion</a></li>
    </ul>
  </div>
</nav>
<br>


<app-list-recettes></app-list-recettes>

<router-outlet></router-outlet>
