
<div id="mainContainer2" class="container"> 

    <h3 class="center">Liste des ingrédients</h3>


    <div class="row " *ngFor="let x of listIngredients; index as index">
        <div *ngIf="index < amount || amount === -1" class="card blue lighten-1" style="border-radius: 25px 25px 25px 0px;">            
            <div class="card-content blue white-text" style="border-radius: 25px 25px 0px 0px;">                    
                <span style="font-size: 32px;font-weight: 400;" class="card-title center">{{ x.nom }} </span>
                <p class=" center red-text">{{ x._id }}</p>

                <p style="font-size: 18px;" class="center"> {{ x.nom }}</p>
                <p style="font-size: 18px;" class="center"> {{ x.prix }} € / {{ x.unite }}</p>
                
                </div>
                <div class="card-action blue lighten-3" style="border-radius: 0px 0px 25px 0px;">
            </div>
        </div>
    </div>
    <br>
</div>

